<!-- home.html -->
<div class="row">
	<div class="col-md-5">
		<p>Year: {{turncounter | number :1}} <input type=submit ng-click="pauseResume()" value='Pause/Resume'> </p>
		<br>
		
	</div>
</div>

<br><br>

<div class="row">
	<div class="col-md-2">
		<table border="1" style="width:50%">
			<tr>
				<th></th>
				<th>Male</th>
				<th>Female</th>
			</tr>
			<tr>
				<th>Population</th>
				<td>{{ Population.Males| number:0 }}</td>
				<td>{{ Population.Females | number:0 }}</td>
			</tr>
		</table>
	</div>
	
	<div class="col-md-2">
		<table border="1" style="width:50%">
			<tr>
				<th>Births</th>
				<th>Deaths</th>
				<th>Change</th>
			</tr>
			<tr>
				<td>{{ Stats.birthsThisYear| number:0 }}</td>
				<td>{{ Stats.deathsThisYear | number:0 }}</td>
				<td>{{ Stats.populationChangeThisYear | number:0 }}</td>
			</tr>
		</table>
	</div>
	
	<div class="col-md-2">
		<table border="1" style="width:50%">
			<tr>
				<th>Average Age</th>
			</tr>
			<tr>
				<td>{{ Stats.averageAge| number:0 }}</td>
			</tr>
		</table>
	</div>
</div>
	
	
	
	
	
	
<!--
	<div class="col-md-1">
		<h1>Males </h1>
		<div ng-repeat="male in Males" class="col-md-1"> 
			<p style="font-size:50%" class="title">{{ male.id }}</p> 
		</div>
	</div>
	<div class="col-md-1">
		<h1>Females</h1>
		<div ng-repeat="female in Females" class="col-md-1"> 
			<p style="font-size:50%" class="title">{{ female.id }}</p> 
		</div>
	</div>
-->

