<!-- about.html -->
<div class="row">
	<div class="col-md-5">
		<p>Year: {{turncounter | number :1}} <input type=submit ng-click="pauseResume()" value='Pause/Resume'> </p>
		<br>
	
	</div>
</div>

<br><br>

<div class="row">
	<div class="col-md-2">
		<p>Farms: {{ Buildings.farms | number :0}} <input type=submit ng-click="buyBuilding('farm')" value='Buy Farm'> </p>
		<p>Logging Camps: {{ Buildings.loggingCamps | number :0}} <input type=submit ng-click="buyBuilding('loggingCamp')" value='Buy Logging Camp'> </p>
		<p>Quarrys: {{ Buildings.quarrys | number :0}} <input type=submit ng-click="buyBuilding('quarry')" value='Buy Quarry'> </p>
		<p>Mines: {{ Buildings.mines | number :0}} <input type=submit ng-click="buyBuilding('mine')" value='Buy Mine'> </p>
		<p>Schools: {{ Buildings.schools | number :0}} <input type=submit ng-click="buyBuilding('school')" value='Buy School'> </p>
	</div>
</div><br><br>
